{% extends "opds/layout.xml.twig" %}

{% block entry %}
    {% for book in serie.getAllBooks() %}
<entry>
    <title>{{ book.getTitle() }}</title>
    <updated>{{ updated }}</updated>
    <id>Silex-Cops:Serie:{{ urlLetter }}</id>

  <content type="text/html"><strong>Collection:</strong>Livre 1.0 dans la collection Sherlock Holmes<br />
A Study in Scarlet is a detective mystery novel written by Sir Arthur Conan Doyle, which was first published in 1887. It is the first story to feature the character of Sherlock Holmes, who would later become one of the most famous and iconic literary detective characters, with long-lasting interest and appeal. The book's title derives from a speech given by Holmes to his companion Doctor Watson on the nature of his work, in which he describes the story's murder investigation as his &quot;study in scarlet&quot;: &quot;There’s the scarlet thread of murder running through the colourless skein of life, and our duty is to unravel it, and isolate it, and expose every inch of it.&quot;</content>
  <link href="fetch.php?id=11" type="image/jpeg" rel="http://opds-spec.org/image"/>
  <link href="fetch.php?height=164&amp;id=11" type="image/jpeg" rel="http://opds-spec.org/image/thumbnail"/>
  <link href="download/10/A+Study+in+Scarlet+-+Arthur+Conan+Doyle.epub" type="application/epub+zip" rel="http://opds-spec.org/acquisition" title="EPUB"/>
  <link href="/feed.php?page=3&amp;id=1" type="application/atom+xml;profile=opds-catalog;kind=navigation" rel="related" title="Autres livres de Arthur Conan Doyle"/>
  <link href="/feed.php?page=7&amp;id=1" type="application/atom+xml;profile=opds-catalog;kind=navigation" rel="related" title="Livre 1.0 dans la collection Sherlock Holmes"/>
  <author>
   <name>Arthur Conan Doyle</name>
   <uri>feed.php?page=3&amp;id=1</uri>
  </author>
  <category term="Fiction" label="Fiction"/>
  <category term="Mystery &amp; Detective" label="Mystery &amp; Detective"/>
  <dcterms:issued>2006-12-29</dcterms:issued>
  <published>2006-12-29T08:08:08Z</published>
  <dcterms:language>Anglais</dcterms:language>
 </entry>

    {% endfor %}
<entry>
    <title>{{ serie.getSort() }}</title>
    <updated>{{ updated }}</updated>
    <id>Silex-COPS:Serie:{{ serie.getId() }}</id>
    <content type="text">{{ serie.getName() }}</content>
    <link href="{{ app.url_generator.generate('opds_serie_detail', {'id': serie.getId()}) }}" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
</entry>


{% endblock %}