{% extends "admin/layout.html.twig" %}
{% trans_default_domain "admin" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' _self %}

{% block form_label_class -%}
col-md-3
{%- endblock form_label_class %}

{% block form_group_class -%}
col-md-9
{%- endblock form_group_class %}

{% block rightContent %}

    <div class="row">

        <div class="col-md-6">
            {{ form_start(form) }}

            {{ form_errors(form) }}

                <fieldset>
                    <legend>{{ "Register new user account"|trans }}</legend>

                    {{ form_row(form.username) }}
                    {{ form_row(form.password.password) }}
                    {{ form_row(form.password.password_confirm) }}

                    {{ form_row(form.role) }}

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="{{ path("admin_user_index") }}" class="btn btn-default">{{ "Cancel"|trans }}</a>

                            {{ form_widget(form.save, {"attr": {"class": "btn-primary"} } ) }}
                        </div>

                </fieldset>

            {{ form_end(form) }}
        </div>

        <div class="col-md-6">
            {% include "admin/user/rights.html.twig" %}
        </div>
    </div>
{% endblock %}
