{% trans_default_domain "admin" %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ "Rights management:"|trans }}</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><strong>{{ user.getUserRole|trans}}</strong> : {{ "Can visit the website"|trans }}</li>
            <li><strong>{{ user.getUserActionsRole|trans}}</strong> : {{ "Can save lists like 'favorites' or 'to read'"|trans }}</li>
            <li><strong>{{ user.getEditRole|trans}}</strong> : {{ "Can modify the books"|trans }}</li>
            <li><strong>{{ user.getAdminRole|trans}}</strong> : {{ "Can access the back office"|trans }}</li>
        </ul>
    </div>
</div>



