{% extends "admin/layout-db.html.twig" %}
{% trans_default_domain "admin" %}

{% block rightContent %}
    <h2>{{ "Activate / Deactivate triggers from database"|trans }}</h2>

    <p>{{ "Calibre database uses trigger to fill some book informations as title sort, this page is meant to provide you the ability to enable or disable them"|trans }}</p>

    <form method="post" action="">

        <div>
            {% for triggerName, trigger in triggers %}
                <div class="form-group">

                    <label class="col-md-2 control-label">{{ trigger.desc|trans }}</label>

                    <div class="col-md-10">

                        <div class="radio">
                            <label>
                                <input type="radio" name="triggers[{{ triggerName }}]" id="{{ triggerName }}-enabled" value="1" {% if (foundTriggers[triggerName] is defined) %}checked="checked"{% endif %}/>
                                {{ "Enabled"|trans }}
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" name="triggers[{{ triggerName }}]" id="{{ triggerName }}-disabled" value="0" {% if not(foundTriggers[triggerName] is defined) %}checked="checked"{% endif %}/>
                                {{ "Disabled"|trans }}
                            </label>
                        </div>
                    </div>
               </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">{{ "Save"|trans }}</button>

    </form>

{% endblock %}
