{% extends "opds/layout.xml.twig" %}

{% block entry %}
<entry>
    <title>{{ "Last added"|trans }}</title>
    <updated>{{ "now"|date("Y-m-d\\TH:i:sP") }}</updated>
    <id>Silex-COPS:lastadded</id>
    <content type="text">{{ "%s Last added books"|trans|format(nbLastAdded) }}</content>
    <link href="{{ url('opds_series') }}" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
</entry>

<entry>
    <title>{{ "Authors"|trans }}</title>
    <updated>{{ "now"|date("Y-m-d\\TH:i:sP") }}</updated>
    <id>Silex-COPS:authors</id>
    <content type="text">{{ "Alphabetic list of the authors"|trans }}</content>
    <link href="{{ url('opds_authors') }}" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
</entry>

<entry>
    <title>{{ "Series"|trans }}</title>
    <updated>{{ "now"|date("Y-m-d\\TH:i:sP") }}</updated>
    <id>Silex-COPS:series</id>
    <content type="text">{{ "Alphabetic list of the series"|trans }}</content>
    <link href="{{ url('opds_series') }}" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
</entry>
{% endblock %}
