    <div id="header" class="ui-corner-all ui-state-active">
        <a href="{{ path('homepage') }}">SilexCOPS</a>

        {% block quicksearch %}
        <div style="float:right;">
            <form method="post" action="{{ path('search') }}">
                <input type="text" id="js-search-form-input" name="keywords" value="" class="greyed" size="60" />
                <input type="hidden" id="js-default-search-value" value="{{ "Author / Serie / Book title"|trans|escape }}" />
                <input type="submit" value="{{ 'Search'|trans }}" />
            </form>
            <script type="text/javascript">
                jQuery('document').ready(function() {

                    var searchElm = jQuery('#js-search-form-input');
                    var defaultValue = jQuery('#js-default-search-value').val();

                    searchElm.val(defaultValue);

                    searchElm.focus(function(){
                        if (jQuery(this).val() === defaultValue) {
                            jQuery(this).val('').removeClass('greyed');
                        }
                    });
                    searchElm.blur(function () {
                        if (jQuery(this).val() == '') {
                            jQuery(this).val(defaultValue).addClass('greyed');
                        }
                    });
                });
            </script>
        </div>
        {% endblock %}

        {% block selectdb %}
            {% set databases = app.config.getValue('data_dir') %}
            {% if databases|length > 1 %}
            <span>
                <label for="js-select-db">| {{ "Switch database:"|trans }}</label>
                <select size="1" id="js-select-db">
                {% for dbKey, path in databases %}
                    {% set selected = '' %}
                    {% if dbKey == app.config.getValue('current_database_key') %}
                        {% set selected = 'selected="selected"' %}
                    {% endif %}
                    <option {{ selected }} value="{{ path('homepage', {'database' : dbKey}) }}">{{ dbKey }}</option>
                {% endfor %}
                </select>
            </span>
            <script type="text/javascript">
                jQuery('document').ready(function() {
                    jQuery("#js-select-db").select2({
                        minimumResultsForSearch: -1,
                        dropdownAutoWidth: true,
                    });

                    jQuery('#js-select-db').change(function() {
                        window.location.href = jQuery(this).val();
                    });
                });
            </script>
            {% endif %}
        {% endblock %}

        {% if is_granted('ROLE_ADMIN') %}
            {% block switchLink %}
            | <a href="{{ path('admin_index') }}" title="{{ "Admin home"|trans }}">{{ "Admin home"|trans }}</a>
            {% endblock %}
        {% endif %}

    </div>
