{% set letters = ['#']|merge('A'..'Z') %}
{% set date_format = "m/d/Y"|trans %}

{% set inline_edit = false %}
{% if app.config.getValue('inline_edit_enable') and is_granted('ROLE_EDIT') %}
    {% set inline_edit = true %}
{% endif %}
<!doctype html>
<html>
    <head>
        {% block head %}
            {% include "head.html.twig" %}
            <script type="text/javascript" src="{{ app.request.basepath }}/assets/jquery-2.0.0.min.js"></script>
            <script type="text/javascript" src="{{ app.request.basepath }}/assets/default/js/jquery-ui-1.10.4.custom.min.js"></script>
            <script type="text/javascript" src="{{ app.request.basepath }}/assets/select2/select2.js"></script>
            <link rel="stylesheet" href="{{ app.request.basepath }}/assets/select2/select2.css" />

            {% if inline_edit %}
                <script type="text/javascript" src="{{ app.request.basepath }}/assets/x-editable/js/jqueryui-editable.min.js"></script>
                <link rel="stylesheet" href="{{ app.request.basepath }}/assets/x-editable/css/jqueryui-editable.css" />
                <link rel="stylesheet" href="{{ app.request.basepath }}/assets/default/x-editable.css" />
                <script type="text/javascript" src="{{ app.request.basepath }}/assets/x-editable/js/moment-with-langs.min.js"></script>
            {% endif %}

        {% endblock %}
        {# beforeHeadEnd placeholder #}
        {% block beforeHeadEnd %}{% endblock %}
    </head>

    <body>
        {# afterBodyStart placeholder #}
        {% block afterBodyStart %}{% endblock %}

        <div id="main">
            {% block header %}
                {% include "header.html.twig" %}
            {% endblock %}

            {% block mainBody %}
            {% endblock %}

            {% block footer %}
                {% include "footer.html.twig" %}
            {% endblock %}
        </div>

        {# beforeBodyEnd placeholder #}
        {% block beforeBodyEnd %}
        {% endblock %}
    </body>

</html>
