{% set letters = ['#']|merge('A'..'Z')|merge(addletters) %}
{% set date_format = "m/d/Y"|trans %}

{% set inline_edit = false %}
{% if app.config.getValue('inline_edit_enable') and is_granted('ROLE_EDIT') %}
    {% set inline_edit = true %}
{% endif %}
<!doctype html>
<html>
    <head>
        {% block head %}
            {% include "head.html.twig" %}
        {% endblock %}

        {# beforeHeadEnd placeholder #}
        {% block beforeHeadEnd %}{% endblock %}
    </head>

    <body>

        {# afterBodyStart placeholder #}
        {% block afterBodyStart %}{% endblock %}

        {% block header %}
            {% include "header.html.twig" %}
        {% endblock %}

        {% block mainBody %}{% endblock %}

        <div class="container" style="height:15px;"></div>

        <div id="footer" class="container-fluid navbar-default navbar-fixed-bottom">
        {% block footer %}
            {% include "footer.html.twig" %}
        {% endblock %}
        </div>

        {# beforeBodyEnd placeholder #}
        {% block beforeBodyEnd %}
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>

            {% if inline_edit %}
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/x-editable/js/bootstrap-editable.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/x-editable/js/moment-with-langs.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/select2/select2.js"></script>
            {% endif %}

        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/epub.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/zip.min.js"></script>
        {% endblock %}

    </body>

</html>
