{% set previousPage = '' %}
{% set nextPage = '' %}

{% if pageCount > 1 %}

    {% if pageNum > 1 %}
        {% set previousPage %}
        {% set prevUrl = path('user_books_list', {'page': pageNum-1, 'action':action }) %}
        <a href="{{ prevUrl }}" title="{{ "Previous"|trans|escape }}" class="inline-block ui-corner-all ui-icon ui-icon-triangle-1-w">{{ "Previous"|trans }}</a>
        {% endset %}
    {% endif %}

    {% if pageNum < pageCount %}
        {% set nextPage %}
        {% set nextUrl = path('user_books_list', {'page': pageNum+1, 'action':action }) %}
        <a href="{{ nextUrl }}" title="{{ "Next"|trans|escape }}" class="inline-block ui-corner-all ui-icon ui-icon-triangle-1-e">{{ "Next"|trans }}</a>
        {% endset %}
    {% endif %}

<div class="paginator">
    {{ previousPage }}
    {{ "Page %d on %d (%d books)"|trans|format(pageNum, pageCount, totalBooks) }}
    {{ nextPage }}
</div>

{% endif %}

